<section class="covers-section section" id="covers">
  <div class="covers-container container">
    <h2 class="visually-hidden">Covers</h2>
    <div class="covers-content">
      <ul class="marquee">
        <li class="marquee-inner">
          <a class="marquee-line" target="_blank" href="#footer">
            <picture class="covers-img">
              <source
                srcset="
                  ./img/desktop/covers/first-screen-1.webp    1x,
                  ./img/desktop/covers/first-screen-1@2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/mobile/covers/mob_first-screen-1.webp    1x,
                  ./img/mobile/covers/mob_first-screen-1@2x.webp 2x
                "
              />
              <img
                class="cover-item"
                src="./img/desktop/covers/first-screen-1.webp"
                alt="Turn your business"
              />
            </picture>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
