 
 <section id="faq">
 <div  class="container">

    <ul>
      <li>
        <h3 class="accordion" id="question1">What programming languages ​​are most often used in your project?</h3>
        <div class="panel">
          <p>In the field of web development, there are various technologies and programming languages. Typically, this includes a combination of frontend (client side) and backend (server side) languages.</p>
        </div>
      </li>

      <li>
        <h3 class="accordion" id="question2">How can I contact you?</h3>
        <div class="panel">
          <p>In the field of web development, there are various technologies and programming languages. Typically, this includes a combination of frontend (client side) and backend (server side) languages.</p>
        </div>
      </li>
      

      <li>
        <h3 class="accordion" id="question3">What are the deadlines for the project?</h3>
        <div class="panel">
          <p>The terms of project implementation depend to a large extent on a number of factors, such as the scope of the project, its complexity, and the availability of resources. Determining exact deadlines is a difficult task, and it usually occurs during the planning phase of the project.</p>
        </div>
      </li>

      <li>
        <h3 class="accordion" id="question4">Do you provide advice or support?</h3>
        <div class="panel">
          <p>The terms of project implementation depend to a large extent on a number of factors, such as the scope of the project, its complexity, and the availability of resources. Determining exact deadlines is a difficult task, and it usually occurs during the planning phase of the project.</p>
        </div>
      </li>


      <li>
        <h3 class="accordion" id="question5">What payment methods do you accept?</h3>
        <div class="panel">
          <p>Payment through credit and debit cards such as Visa, MasterCard, specialized electronic payment systems such as PayPal, as well as payments in cryptocurrencies such as Bitcoin, Ethereum and others.</p>
        </div>
      </li>

      <li>
        <h3 class="accordion" id="question6">What does the process of developing a software product look like from idea to implementation?</h3>
        <div class="panel">
          <p>Payment through credit and debit cards such as Visa, MasterCard, specialized electronic payment systems such as PayPal, as well as payments in cryptocurrencies such as Bitcoin, Ethereum and others.</p>
        </div>

      </li>
    </ul>
  </div>
</section>