<footer id="footer" class="section">
  <div class="container">
    <img
      class="img-footer"
      src="../img/mobile/footer/mini.png"
      alt="young-man-team-leader-confident-young-man-working-his-desktop-with-laptop-looking-with-smile-his-light-office.png"
    />
    <h2 class="title-footer">Let's <span class="title-span">work</span></h2>
    <h2 class="title-footer title-together">together</h2>
    <form class="form">
      <input
        class="input-footer"
        type="email"
        name="email"
        aria-label="type your email"
        required
        pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
        placeholder="clients@gmail.com"
      />
      <textarea
        class="textarea-footer"
        aria-label="type your comment"
        required
        cols="30"
        rows="10"
        placeholder="comments"
      ></textarea>
      <button class="form-button" type="submit">Send</button>
    </form>
    <address class="contacts-footer">
      <ul class="container-address">
        <li class="container-contacts">
          <a class="contacts-footer-mini" href="mailto:lloydjefferson@gmail.com"
            >lloydjefferson@gmail.com</a
          >
        </li>
        <li class="container-contacts">
          <a class="contacts-footer-mini" href="tel:+3801111111111"
            >+380 11 1111 11 11</a
          >
        </li>
      </ul>
    </address>

    <div class="backdrop">
        <div class="modal-window visually-hidden">
            <button class="modal-button" type="button">
                <svg class="modal-btn-icon" width="8" height="8">
                    <use href="../img/sprite.svg#icon-x-close"></use>
                  </svg>
            </button>
            <h3 class="modal-title">Thank you for your interest in cooperation!</h3>
            <p class="modal-text">
              The manager will contact you shortly to discuss further details and
              opportunities for cooperation. Please stay in touch.
            </p>
          </div>
    </div>
  </div>
</footer>
