<footer id="footer" class="section footer">
  <div class="container container-footer">
    <div class="container-title">
      <h2 class="title-footer">
        <picture>
          <source
            srcset="
              ../img/tablet/footer/tab_footer_photo_logo.png,
              ../img/tablet/footer/tab_footer_photo_logo@2x.png 2x
            "
            media="(min-width: 768px)"
            width="70"
            height="70"
          />
          <source
            srcset="
              ../img/mobile/footer/mob-footer_photo_logo.png,
              ../img/mobile/footer/mob-footer_photo_logo@2x.png 2x
            "
            width="44"
            height="44"
          />
          <img
          class="img-footer"
          srcset="
            ../img/mobile/footer/mob-footer_photo_logo.png    1x,
            ../img/mobile/footer/mob-footer_photo_logo@2x.png 2x
          "
          src="../img/mobile/footer/mini.png"
          alt="young-man-team-leader-confident-young-man-working-his-desktop-with-laptop-looking-with-smile-his-light-office.png"
        />
        LET'S <span class="title-span">WORK<br /></span>TOGETHER
      </h2>
    </div>
    <form class="form" id="form">
      <div class="container-input">
        <input
          class="input-footer input"
          type="email"
          name="email"
          required
          pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
          placeholder="clients@gmail.com"
        />
        <input
          class="input-footer"
          id="message"
          type="text"
          aria-label="type your comment"
          required
          placeholder="comments"
        ></input>
      </div>
      <button class="form-button" type="submit">Send</button>
    </form>
    <address class="contacts-footer">
      <ul class="container-address">
        <li class="container-contacts">
          <a class="contacts-footer-mini" href="mailto:lloydjefferson@gmail.com"
            >lloydjefferson@gmail.com</a
          >
        </li>
        <li class="container-contacts">
          <a class="contacts-footer-mini" href="tel:+3801111111111"
            >+380 11 1111 11 11</a
          >
        </li>
      </ul>
    </address>
    <!-- ========Modal window ============= -->
    <div id="modalW" class="backdrop ">
      <div class="modal-window">
        <button class="modal-button" type="button">
          <svg class="modal-btn-icon" width="22" height="22">
            <use href="../img/sprite.svg#icon-x-close"></use>
          </svg>
        </button>
        <h3 class="modal-title">Thank you for your interest in cooperation!</h3>
        <p class="modal-text">
          The manager will contact you shortly to discuss further details and
          opportunities for cooperation. Please stay in touch.
        </p>
      </div>
    </div>
  </div>
</footer>
