<header class="header">
  <div class="container header-container">
    <div class="header-logo-container">
      <a href="index.html" class="header-logo-link">
        <picture>
          <source
            srcset="
              ./img/mobile/header/main-logo.webp    1x,
              ./img/mobile/header/main-logo@2x.webp 2x
            "
          />
          <img
            src="./img/mobile/header/main-logo.webp"
            alt="lloyd jefferson photo"
            width="80"
            height="80"
          />
        </picture>
        <p class="header-text-logo">jefferson*</p>
      </a>
    </div>

    <div class="header-menu-container">
      <div class="header-menu">
        <button class="menu-btn-desctab" type="button">Menu</button>
        <button type="button" class="menu-btn-close visually-hidden">
          <svg
            class="menu-btn-icon-close"
            width="28"
            height="28"
            aria-label="menu btn icon close"
          >
            <use href="./img/sprite.svg#icon-x-close"></use>
          </svg>
        </button>
        <ul class="header-menu-list">
          <li class="header-menu-item">
            <a href="#about-me" class="header-menu-item-link">About me</a>
          </li>
          <li class="header-menu-item">
            <a href="#benefits" class="header-menu-item-link">Benefits</a>
          </li>
          <li class="header-menu-item">
            <a href="#projects" class="header-menu-item-link">Projects</a>
          </li>
          <li class="header-menu-item">
            <a href="#faq" class="header-menu-item-link">FAQ</a>
          </li>
        </ul>
      </div>

      <a href="#footer" class="header-button-link btn-link-none"
        >Order the project</a
      >
    </div>

    <button type="button" class="header-burger-btn">
      <svg
        class="header-burger-btn-icon"
        width="21"
        height="8.17"
        aria-label="header burger btn icon"
      >
        <use href="./img/sprite.svg#icon-menu-open"></use>
      </svg>
    </button>
  </div>
</header>
