
<header class="header">
<div class="header-container container">

    <div class="header-div">

        <img
        srcset="./src/img/mobile/header/header_photo_logo@2x.png 2x"
        src="./src/img/mobile/header/header_photo_logo.png"
        alt="logo header"
        width="80"
        height="80"
      />
    
    <p class="header-text-logo">jefferson*</p>
    
    <a class="header-menu" href="">Menu</a>
    
    <button type="button" class="header-burger-btn">
        <svg
          class="header-burger-btn-icon"
          width="21"
          height="8.17"
          aria-label="header burger btn icon"
        >
          <use href="./src/img/sprite.svg#icon-menu-open"></use>
        </svg>
      </button>

    
    <button class="header-button" type="button">
        Order the project
    </button>
     </div>
    
     <h1 class="header-title">
        Hello. 
        I’m Fullstack developer 
        Lloyd Jefferson.
    </h1>
    
    
    <div class="header-contacts-container">
        <ul class="header-list">
            <li class="header-item">
                <p>IG</p>
            </li>
            <li class="header-item">
                <p>FB</p>
            </li>
            <li class="header-item">
                <p>YT</p>
            </li>
            <li class="header-item">
                <p>GH</p>
            </li>
        </ul>
        
        <address>
            <a href="loydjefferson@gmail.com" class="header-contacts"
                        >loydjefferson@gmail.com
                      </a>
        </address>
    </div>
</div>
 



</header>