<section id="hero" class="hero-section">
  <div class="hero-container container">
    <h1 class="hero-title">
      Hello.<br />I'm Fullstack developer Lloyd Jefferson.
    </h1>
    <div class="hero-list-social">
      <ul class="soc-networks-list">
        <li class="hero-list-item">
          <a
            class="hero-link"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            >IG</a
          >
        </li>
        <li class="hero-list-item">
          <a
            class="hero-link"
            href="https://www.facebook.com/goITclub/"
            target="_blank"
            >FB</a
          >
        </li>
        <li class="hero-list-item">
          <a
            class="hero-link"
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
            >YT</a
          >
        </li>
        <li class="hero-list-item">
          <a
            class="hero-link"
            href="https://github.com/OlhaArtemenko/project_portfolio_codecrafters"
            target="_blank"
            >GH</a
          >
        </li>
        <li class="hero-list-item hero-list-item-email">
          <a class="hero-link" href="mailto:lloydjefferson@gmail.com"
            >lloydjefferson@gmail.com</a
          >
        </li>
      </ul>
    </div>
  </div>
</section>
