<section class="hero-container" id="hero">
    <div class="hero-list-container">   
        <h1 class="hero-title"><Hello class="br"></Hello> I’m Fullstack developer Lloyd Jefferson.</h1>  
    <div class="hero-list-social"><ul class="list-social">
        <li class="hero-list-title">IG<a class="hero-link" href="https://www.instagram.com/goitclub/" target="_blank"></a></li>
        <li class="hero-list-title">FB<a class="hero-link" href="https://www.facebook.com/goITclub/" target="_blank"></a></li>
        <li class="hero-list-title">YT<a class="hero-link" href="https://www.youtube.com/c/GoIT" target="_blank"></a></li>
        <li class="hero-list-title">GH<a class="hero-link" href="https://github.com/OlhaArtemenko/project_portfolio_codecrafters" target="_blank"></a></li>
        <li class="hero-list-title">lloydjefferson@gmail.com<a class="hero-link" href="mailto:lloydjefferson@gmail.com"></a></li>
    </ul></div>
    </div>
</section>
