<section class="hero-container container">
    <div class="hero-title-container">
        <h1 class="hero-title">Hello. I’m Fullstack developer Lloyd Jefferson.</h1>
    </div>
    <div class="hero-list-social"><ul>
        <li class="hero-list-title"><a class="hero-link" href="https://www.instagram.com/goitclub/" target="_blank"></a>IG</li>
        <li class="hero-list-title"><a class="hero-link" href="https://www.facebook.com/goITclub/" target="_blank"></a>FB</li>
        <li class="hero-list-title"><a class="hero-link" href="https://www.youtube.com/c/GoIT" target="_blank"></a>YT</li>
        <li class="hero-list-title"><a class="hero-link" href="https://github.com/OlhaArtemenko/project_portfolio_codecrafters" target="_blank"></a>GH</li>
        <li class="hero-list-title"><a class="hero-link" href="mailto:lloydjefferson@gmail.com"></a>lloydjefferson@gmail.com</li>
    </ul></div>
    <div class="img-container">
        <picture class="hero-img"><source srcset="
            ./img/desktop/hero/desk_hero.webp
            ./img/desktop/hero/desk_hero@2x.webp"
            media="(min-width: 1280px)" width="1180" height="470" />
            <source srcset="
            ./img/tablet/hero/tab_hero.webp
            ./img/tablet/hero/tab_hero@2x.webp"
            media="(min-width: 768px)" width="704" height="470" />
            <source srcset="
            ./img/mobile/hero/hero.webp
            ./img/mobile/hero/hero@2x.webp "
            media="(max-width: 767px)" width="335" height="395" />
            <img class="rent-image" src="./img/desktop/hero/desk_hero.webp" alt="yacht on the water" width="658"
            height="534" />
        </picture>
    </div>
</section>
