<section class="projects container" id="projects">
    <h2 class="projects-title">Projects</h2>

    <div class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="two_boxes">
                    <div class="white-area">
                        <ul class="the-skills-container">
                            <li class="the-skills">#react</li>
                            <li class="the-skills">#js</li>
                            <li class="the-skills">#node js</li>
                            <li class="the-skills">#git</li>
                        </ul>
                        <h2 class="projects-header">Programming.....</h2>
                        <a href="" target="_blank" class="open-project-button">See project</a>
                    </div>
                    <div class="black-area">
                        <img src="" alt="">
                    </div>
                </div>
            </div>
            <!-- from now on, same as this , soo just copy or change one and ctrl c and v | but change img and  see-project href -->
        </div>
        <div class="navigation">
            <div class="swiper-button-prev">
                <svg class="btn-arrow-next">
                    <use href=""></use>
                </svg>
            </div>
            <div class="swiper-button-next">
                <svg class="btn-arrow-next">
                    <use href=""></use>
                </svg>
            </div>
        </div>
    </div>    

</section>
<!-- What does means реалізувати за допомогою <ul> ? Use ul some where or from a to x ? -->
<!-- Перелік проєктів та опису до них необхідно реалізувати за допомогою <ul> у вигляді горизонтального слайдера (https://swiperjs.com/swiper-api). 
    Користувач повинен мати змогу взаємодіяти зі слайдером через мишу, клавіатуру (клавіш Tab та стрілок) або сенсорний екран. 
    У разі досягнення кінця списку елементів, кнопка відповідно до вказаного напрямку повинна бути задізейблена
    (користувач більше не може взаємодіяти з нею, і вона не реагує на події clickу або натискання клавіші). 
    Задізейблена кнопка візуальною змінюється, що підкреслює її неактивний стан.  -->

    <!-- SCRATCH 
 <div class="projects">
    <h3>Projects</h3>
    <div class="swiper">
        <div class="branco">
            <p>#react</p>
            <p>#js</p>
            <p>#node js</p>
            <p>#git</p>
            <h2>Programming Across Borders:Ideas, Tecnologies, Inovations</h2>

            <button>See Project</button>
        </div>
        <div class="preto">
            <img src="" alt="">
        </div>
    </div>
</div> -->


    <section class="projects container" id="projects">
        <h2 class="projects-title">Projects</h2>

        <div class="swiper">
            <ul class="swiper-wrapper">
                <li class="swiper-slide">
                    <div class="projects-description">
                        <ul class="projects-description-skills">
                            <li class="projects-description-skills-item">#react</li>
                            <li class="projects-description-skills-item">#js</li>
                            <li class="projects-description-skills-item">#node js</li>
                            <li class="projects-description-skills-item">#git</li>
                        </ul>
                        <p class="projects-description-text">Programming ....</p>
                        <!-- also may be used -->
                        <!-- <h2 class="projects-description-text"></h2> -->
                        <a class="projects-description-button" href="">See project</a>
                    </div>
                    <div class="projects-wrapper-img">
                        <img src="" alt="">
                    </div>
                </li>
                <!-- from now on, same as this , soo just copy or change one and ctrl c and v | but change img and  see-project href -->
            </ul>
        </div>
        <div class="wrapper-btn-arrows">
            <div class="swiper-button-prev swiper-btn-prev">
                <svg class="btn-arrow-prev">
                    <use href=""></use>
                </svg>
            </div>
            <div class="swiper-button-next swiper-btn-next">
                <svg class="btn-arrow-next">
                    <use href=""></use>
                </svg>
            </div>
        </div>
    </section>
