<section class="projects" id="projects">
    <div class="container">
    <h2 class="projects-title">Projects</h2>

        <div class="swiper">
            <ul class="swiper-wrapper">
            <li class="swiper-slide">
                <div class="projects-description">
                <ul class="projects-description-skills">
                    <li class="projects-description-skills-item">#react</li>
                    <li class="projects-description-skills-item">#js</li>
                    <li class="projects-description-skills-item">#node js</li>
                    <li class="projects-description-skills-item">#git</li>
                </ul>
                <p class="projects-description-text">Programming Across Borders: Ideas, Tecnologies, Innovations</p>
                <!-- also may be used -->
                <!-- <h2 class="projects-description-text"></h2> -->
                <a class="projects-description-button" href="https://olhaartemenko.github.io/project_portfolio_codecrafters/" target="_blank" >See project</a>
                </div>
                <div class="projects-wrapper-img">
                    <picture class="projects-img">
                        <source media="(max-width: 767px)" 
                        srcset="
                        ./img/mobile/projects/project_1.webp 1x, 
                        ./img/mobile/projects/project_1_2x.webp 2x" 
                        type="image/webp">
                        <source media="(min-width: 768px)"
                        srcset="
                        ./img/tablet/projects/tab_project_1.webp 1x,
                        ./img/tablet/projects/tab_project_1@2x.webp 2x"
                        type="image/webp">
                        <img 
                            srcset="
                            ./img/mobile/projects/project_1.webp 1x, 
                        ./img/mobile/projects/project_1_2x.webp 2x"
                        src="./img/mobile/projects/project_1.webp" alt="first_project">
                    </picture>
                </div>
            </li>
            <!-- from now on, same as this , soo just copy or change one and ctrl c and v | but change img and  see-project href -->
            <li class="swiper-slide">
                <div class="projects-description">
                <ul class="projects-description-skills">
                    <li class="projects-description-skills-item">#react</li>
                    <li class="projects-description-skills-item">#js</li>
                    <li class="projects-description-skills-item">#node js</li>
                    <li class="projects-description-skills-item">#git</li>
                </ul>
                <p class="projects-description-text">Programming Across Borders: Ideas, Tecnologies, Innovations</p>
                <!-- also may be used -->
                <!-- <h2 class="projects-description-text"></h2> -->
                <a class="projects-description-button" href="https://olhaartemenko.github.io/project_portfolio_codecrafters/" target="_blank" >See project</a>
                </div>
                <div class="projects-wrapper-img">
                    <picture class="projects-img">
                        <source media="(max-width: 767px)" 
                        srcset="
                        ./img/mobile/projects/project_2.webp 1x, 
                        ./img/mobile/projects/project_2_2x.webp 2x" 
                        type="image/webp">
                        <source media="(min-width: 768px)"
                        srcset="
                        ./img/tablet/projects/tab_project_2.webp 1x,
                        ./img/tablet/projects/tab_project_2@2x.webp 2x"
                        type="image/webp">
                        <img 
                            srcset="
                            ./img/mobile/projects/project_2.webp 1x, 
                        ./img/mobile/projects/project_2_2x.webp 2x"
                        src="./img/mobile/projects/project_2.webp" alt="second_project">
                    </picture>
                </div>
            </li>
            <!-- from now on, same as this , soo just copy or change one and ctrl c and v | but change img and  see-project href -->
            <li class="swiper-slide">
                <div class="projects-description">
                <ul class="projects-description-skills">
                    <li class="projects-description-skills-item">#react</li>
                    <li class="projects-description-skills-item">#js</li>
                    <li class="projects-description-skills-item">#node js</li>
                    <li class="projects-description-skills-item">#git</li>
                </ul>
                <p class="projects-description-text">Programming Across Borders: Ideas, Tecnologies, Innovations</p>
                <!-- also may be used -->
                <!-- <h2 class="projects-description-text"></h2> -->
                <a class="projects-description-button" href="https://olhaartemenko.github.io/project_portfolio_codecrafters/" target="_blank">See project</a>
                </div>
                <div class="projects-wrapper-img">
                    <picture class="projects-img">
                        <source media="(max-width: 767px)" 
                        srcset="
                        ./img/mobile/projects/project_3.webp 1x, 
                        ./img/mobile/projects/project_3_2x.webp 2x" 
                        type="image/webp">
                        <source media="(min-width: 768px)"
                        srcset="
                        ./img/tablet/projects/tab_project_3.webp 1x,
                        ./img/tablet/projects/tab_project_3@2x.webp 2x"
                        type="image/webp">
                        <img 
                            srcset="
                            ./img/mobile/projects/project_3.webp 1x, 
                        ./img/mobile/projects/project_3_2x.webp 2x"
                        src="./img/mobile/projects/project_3.webp" alt="third_project">
                    </picture>
                </div>
            </li>
            <!-- from now on, same as this , soo just copy or change one and ctrl c and v | but change img and  see-project href -->
            </ul>
        </div>
        <div class="wrapper-btn-arrows">
            <div class="swiper-button-prev swiper-btn-prev">
                <svg class="btn-arrow-prev"  width="32" height="32">
                    <use href="./img/sprite.svg#icon-arrow-narrow-left"></use>
                </svg>
            </div>
            <div class="swiper-button-next swiper-btn-next">
                <svg class="btn-arrow-next"  width="32" height="32">
                    <use href="./img/sprite.svg#icon-arrow-narrow-right"></use>
                </svg>
            </div>
        </div>
    </div>
</section>
