/* ================== STYLES FOR MOBILE ================== */

.about-me {
  padding-top: 64px;
}

.title-with-photo {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-image {
  border-radius: 24px;
}

.title-ab {
  padding: 32px;
  height: 500px;
  width: 343px;
  background-color: #242527;
  border-radius: 24px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

.title-text-ab {
  width: 279px;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-align: left;
  font-weight: 500;
  text-transform: uppercase;
}

.title-func {
  color: #ed3b44;
}

.title-web {
  color: #fafafa66;
}

.accordion-info-about-me {
  margin-left: auto;
  margin-right: auto;
}

div.about-me .accordion-info-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

ul.accordion-info-list .info-item.ac {
  border: none;
  border-bottom: 1px solid #fafafa33;
  padding-bottom: 20px;
  position: relative;
  background-color: transparent;
  margin-top: 32px;
}

.ac .ac-trigger::after {
  display: none;
}

li.info-item.ac .info-item-titel {
  color: #fafafa66;
  font-weight: 600;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 24px;
}

li.info-item.ac .info-item-descr {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info-item:first-child div.info-item-descr.ac-panel {
  gap: 32px;
}

div.info-item-descr.ac-panel .info-item-text {
  font-family: 'Inter Tight', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  font-weight: 500;
  color: #fafafa;
  padding: 0;
}

li.info-item.ac .accordion-button-up-down {
  background-color: transparent;
  width: 40px;
  height: 40px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  transition: border 250ms linear, box-shadow 250ms linear;
}

.button-roll {
  transform: rotateZ(180deg);
}

.accordion-button-up-down:hover {
  box-shadow: 0 0 15px #ed3b44;
}

.accordion-button-up-down svg {
  height: 20px;
  width: 20px;
  stroke: 1px solid #fafafa;
}
/* ================== /  SKILLS STYLES FOR MOBILE ================== */
.about-me-skills-wrapper {
  position: relative;
  display: flex;
  margin-top: 32px;
  gap: 52px;
}

.skills-container {
  width: 260px;
  overflow: hidden;
}

.skills-slide {
  display: flex !important;
  font-weight: 500;
  font-size: 16px;
  color: #fafafa;
  width: 130px !important;
  height: 130px !important;
  border-radius: 50%;
  border: 1px solid rgba(250, 250, 250, 0.2);
  justify-content: center;
  align-items: center;
}

.skills-slide.swiper-slide-active {
  background-color: #ed3b44;
  font-weight: 700;
  transition: background-color 700ms linear, font-weight 700ms linear;
}

.skills-button-next svg {
  stroke: #fafafa33;
  width: 28px;
  fill: none;
}

.about-me-skills-svg {
  cursor: pointer;
  transition: stroke 250ms linear;
}

div.swiper-button-next.skills-button-next:hover .about-me-skills-svg {
  stroke: #fafafa;
}

div.swiper-button-next.skills-button-next {
  position: absolute;
  top: 50px;
  right: 7px;
  width: 28px;
  height: 28px;
  z-index: 9999;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  pointer-events: all;
  opacity: inherit;
  /* border: 1px solid rgba(250, 250, 250, 0.2); */

  transition: box-shadow 250ms linear;
}

div.swiper-button-next.skills-button-next:hover {
  box-shadow: 0 0 15px #ed3b44;
}

/* ================== /STYLES FOR MOBILE ================== */

/* ================== STYLES FOR TABLET ================== */
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .about-me-skills-wrapper {
    gap: 64px;
  }
}

@media screen and (min-width: 768px) {
  /* .about-me {
    padding-bottom: 48px;
  } */

  .title-with-photo {
    margin-bottom: 64px;
  }

  .title-ab {
    padding: 64px;
    height: 700px;
    width: 704px;
  }

  .title-text-ab {
    width: 576px;
    font-size: 38px;
    line-height: 1.05;
    letter-spacing: -0.03em;
  }

  .accordion-info-about-me {
    width: 704px;
  }

  .info-item:first-child div.info-item-descr.ac-panel {
    gap: 16px;
  }

  .skills-container {
    width: 600px;
    overflow: hidden;
    margin-top: 64px;
  }
  .skills-slide {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -0.02em;
    width: 200px !important;
    height: 200px !important;
  }
  div.swiper-button-next.skills-button-next {
    bottom: 3.5%;
    top: 140px;
    width: 40px;
    height: 40px;
  }
}

/* ================== STYLES FOR DESCTOP ================== */

@media screen and (min-width: 1440px) {
  .about-me {
    padding-top: 96px;
  }
  .about-me-skills-wrapper {
    gap: 72px;
  }
  .title-with-photo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 96px;
  }

  .title-ab {
    max-width: 680px;
    margin-bottom: 0;
  }

  .title-text-ab {
    width: 552px;
    height: 200px;
    font-size: 38px;
    line-height: 1.05;
    letter-spacing: -0.03em;
  }

  .accordion-info-about-me {
    width: 1376px;
  }

  .info-item:first-child div.info-item-descr.ac-panel {
    gap: 32px;
  }

  li.info-item.ac .info-item-descr {
    align-items: end;
    padding-right: 68px;
  }

  div.info-item-descr.ac-panel .info-item-text {
    width: 612px;
  }

  .skills-container {
    width: 1200px;
    overflow: hidden;
    margin-top: 96px;
    margin-left: 32px;
  }

  div.swiper-button-next.skills-button-next {
    bottom: 3.5%;
    right: 32px;
    top: 175px;
  }
}
