/* ====================MOBILE============================== */
@media screen and (max-width: 767px) {
  .benefits-container {
    margin-right: 15px;
    margin-left: 15px;
  }
  .benefits-title {
    color: rgba(250, 250, 250, 0.4);
    font-family: Inter Tight;
    font-size: 16px;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 32px;
  }

  .benefits-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .benefits-list-item {
    border-radius: 20px;
    background: rgb(36, 37, 39);
    padding: 24px;
    margin-bottom: 16px;
  }

  .benefits-section-icon {
    width: 48px;
    height: 48px;
    border-radius: 10px;
    background: rgb(237, 59, 68);
    stroke: rgb(250, 250, 250);
    fill: rgb(237, 59, 68);
    padding: 12px;
  }

  .benefits-item-title {
    padding-top: 64px;
    color: rgb(250, 250, 250);
    font-family: Inter Tight;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
  }
  .benefits-item-text {
    padding-top: 8px;
    color: rgba(250, 250, 250, 0.6);
    font-family: Inter Tight;
    font-size: 16px;
    text-align: left;
  }
  .benefits-section-icon-bl {
    width: 48px;
    height: 48px;
    border-radius: 10px;
    background: rgb(237, 59, 68);
    stroke: rgb(0, 0, 0);
    fill: rgb(237, 59, 68);
    padding: 12px;
  }
  .order-link {
    margin: 32px 0px;
  }
  .benefits-link {
    color: rgb(250, 250, 250);
    font-family: Inter Tight;
    font-size: 16px;
    padding: 18px 36px;
    box-sizing: border-box;
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 60px;
  }
}
/* =====================TABLET=================== */
@media screen and (min-width: 768px) {
  .benefits-container {
    margin-right: auto;
    margin-left: auto;
  }
  .benefits-title {
    color: rgba(250, 250, 250, 0.4);
    font-family: Inter Tight;
    font-size: 16px;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 32px;
  }

  .benefits-list {
    flex-direction: unset;
    flex-wrap: wrap;
    display: flex;
    gap: 16px;
    justify-content: center;
  }
  .benefits-list-item {
    width: 344px;
    height: 270px;
    border-radius: 20px;
    background: rgb(36, 37, 39);
    padding: 24px;
    margin-bottom: 0px;
  }

  .benefits-section-icon {
    width: 48px;
    height: 48px;
    border-radius: 10px;
    background: rgb(237, 59, 68);
    stroke: rgb(250, 250, 250);
    fill: rgb(237, 59, 68);
    padding: 12px;
  }

  .benefits-item-title {
    padding-top: 64px;
    color: rgb(250, 250, 250);
    font-family: Inter Tight;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
  }
  .benefits-item-text {
    padding-top: 8px;
    color: rgba(250, 250, 250, 0.6);
    font-family: Inter Tight;
    font-size: 16px;
    text-align: left;
  }
  .benefits-section-icon-bl {
    width: 48px;
    height: 48px;
    border-radius: 10px;
    background: rgb(237, 59, 68);
    stroke: rgb(0, 0, 0);
    fill: rgb(237, 59, 68);
    padding: 12px;
  }
  .order-link {
    margin: 32px 0px;
    padding-top: 64px;
  }
  .benefits-link {
    color: rgb(250, 250, 250);
    font-family: Inter Tight;
    font-size: 16px;
    padding: 18px 36px;
    box-sizing: border-box;
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 60px;
  }
}
/* ====================DESKTOP====================== */
@media screen and (min-width: 1440px) {
  .benefits-section {
  }
  .benefits-container {
    display: flex;
    justify-content: space-between;
  }

  .list-container {
    width: 750px;
    height: 675px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
