/* Mobile version */

.footer {
  background-image: url(../img/mobile/footer/mob-footer-background.webp);
  background-repeat: no-repeat;
  background-position: right top;
}
@media (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .footer {
    background-image: url(../img/mobile/footer/mob-footer-background@2x.webp);
  }
}

.img-footer {
  border-radius: 16px;
  width: 44px;
  height: 44px;
  display: inline-block;
}
.container-title {
  display: flex;
}
.title-footer {
  font-size: 40px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.03em;
  text-align: left;
  color: #fafafa;
  /* padding-top: 32px; */
}
.title-span {
  color: #ed3b44;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 32px;
  margin-top: 63px;
}
.container-input input {
  margin-bottom: 16px;
}
.input-footer {
  background-color: transparent;
  height: 44px;
  width: 100%;
  outline: transparent;
  border: transparent;
  border-bottom: 1px solid #fafafa99;
  padding: 0 0 20px 0;
  resize: none;
  color: #fafafa;
}
.input-footer:hover {
  border-color: #fafafa;
}
.input-footer:user-valid {
  border-color: #3cbc81;
}
.input-footer:user-invalid {
  border-color: #e74a3b;
}
.input-footer::placeholder {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-align: left;
  color: #fafafa99;
}
.input-footer:hover::placeholder {
  color: #fafafa;
}
.form-button {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fafafa;
  background-color: #ed3b44;
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 50%;
}
.form-button:hover {
  background: #e0373f;
}
.contacts-footer {
  margin-top: 64px;
}
.container-address {
  display: flex;
  gap: 4px;
  margin: 0;
  justify-content: left;
}
.container-contacts {
  padding: 10px 12px 10px 12px;
  gap: 10px;
  border-radius: 60px;
  border: 1px solid #fafafa33;
  flex-shrink: 0;
}
.container-contacts:hover {
  border-color: #fafafa;
}
.contacts-footer-mini {
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -0.02em;
  text-align: left;
  color: #fafafa;
  font-style: normal;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0f0f1099;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #fcfcfc;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  border: 1px solid #fafafa1a;
  background-color: #1c1d20;
  width: 343px;
  min-height: 276px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 64px 32px 64px 32px;
}
.modal-button {
  display: flex;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 22px;
  height: 22px;
  background-color: transparent;
  border: none;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.modal-btn-icon {
  fill: #fafafa;
}
.modal-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fafafa;
  margin-bottom: 20px;
}
.modal-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fafafa99;
}

/* Tablet version */
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .footer {
    background-image: url(../img/tablet/footer/tab_footer_background.webp);
  }
  @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .footer {
      background-image: url(../img/tablet/footer/tab_footer_background@2x.webp);
    }
  }

  .footer {
    background-position-x: 570px;
  }
  .input-footer {
    max-width: 245px;
  }
}
@media screen and (min-width: 768px) {
  .title-footer {
    font-size: 64px;
    line-height: 64px;
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .form {
    flex-direction: row;
    align-items: center;
    margin-top: 40px;
  }
  .container-input {
    display: flex;
    gap: 20px;
  }

  .form-button {
    width: 150px;
    height: 150px;
  }
  .contacts-footer {
    margin-top: 40px;
  }
  .container-address {
    gap: 8px;
  }
  .container-contacts {
    padding: 18px 32px 18px 32px;
  }
  .contacts-footer-mini {
    font-size: 16px;
    line-height: 1.2;
  }
  .modal-window {
    width: 492px;
    min-height: 246px;
    padding: 64px;
  }
  .modal-button {
    width: 24px;
    height: 24px;
  }
  .img-footer {
    width: 70px;
    height: 70px;
  }
}
/* Desktop version */
@media screen and (min-width: 1440px) {
  .footer {
    background-image: url(../img/desktop/footer/desk_footer-backgraund.webp);
    background-position-x: 1040px;
    margin-right: auto;
    margin-left: auto;
    gap: unset;
    display: flex;
  }
  @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .footer {
      background-image: url(../img/desktop/footer/desk_footer-backgraund@2x.webp);
    }
  }
  .form {
    gap: 86px;
  }
  .input-footer {
    width: 390px;
  }
  .img-footer {
    flex-wrap: nowrap;
  }
}
