/* ======================== MOBILE HEADER STYLES ========================= */

.header {
  position: absolute;
  top: 32px;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: transparent;
}

.header-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.menu-btn-desctab {
  display: block;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  background-color: transparent;
  border: none;
  width: 60px;
  height: 39px;
  letter-spacing: -0.02em;
  color: #fafafa;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-skip-ink: none;
  margin-bottom: 18px;
  transition: color 0.3s ease;
}

.header-text-logo {
  color: rgb(250, 250, 250);
  font-family: 'Inter Tight', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.02em;
}

.header-logo-link {
  display: flex;
  gap: 8px;
}

.header-menu {
  display: none;
}
.header-burger-btn {
  fill: rgb(250, 250, 250);
  background-color: transparent;
  border: none;
  position: static;
  width: 28px;
  height: 28px;
  flex: none;
  flex-grow: 0;
}

.header-burger-btn:active {
  transform: scale(1.07);
}

/* ======================== MOBILE MENU STYLES ========================= */

@media screen and (min-width: 320px) and (max-width: 767px) {
  .menu-btn-desctab {
    display: none;
  }

  .menu-btn-close {
    fill: rgb(250, 250, 250);
    background-color: transparent;
    border: none;
    width: 28px;
    height: 28px;
    flex: none;
    flex-grow: 0;
    position: absolute;
    top: 32px;
    right: 18px;
  }

  .menu-btn-close:active {
    transform: scale(1.07);
  }

  .header-menu-item-link:hover,
  .header-menu-item-link:focus {
    color: #ed3b44;
    transform: scale(1.07);
  }

  .header-menu-item:active {
    transform: scale(1.14);
  }

  .header-menu-list-mobile {
    width: 67px;
    height: 112px;
    margin-top: 302px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 12px;
    transition: transform 0.5s ease-in-out, opacity 0.3s ease-in-out;
  }

  .header-menu-item-link {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #fafafa;
    text-decoration: underline;
    text-underline-offset: 4px;
    transition: color 0.3s ease;
    transition: transform 0.3s ease;
  }

  .header-button-link {
    position: static;
    width: 164px;
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 31px 14px 31px;
    border-radius: 60px;
    color: rgb(250, 250, 250);
    font-family: Inter Tight;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    text-align: left;
    background: rgb(237, 59, 68);
    letter-spacing: -0.02em;
    /* margin-top: 289px; */
    margin-bottom: 64px;
    margin-right: auto;
    margin-left: auto;
    transition: color 0.3s ease;
  }

  .btn-link-none {
    display: none;
  }

  .header-button-link:hover {
    background: rgb(198, 42, 45);
  }

  .header-menu-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #1c1d20;
    background-size: cover;
    background-image: url(../img/mobile/hero/modal-back.webp);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
    transform: translateX(100%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: transform 0.5s ease-in-out, opacity 0.3s ease-in-out;
  }

  .header-menu-container.is-open {
    transform: translateX(0%);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .menu-close-animate {
    opacity: 0;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out, opacity 0.3s ease-in-out;
  }

  @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-device-pixel-ration: 2) {
    .header-menu-container.is-open {
      background-image: url(../img/mobile/hero/modal-back@2x.webp);
    }
  }

  .header-menu {
    display: flex;
    flex-direction: column;
  }
}

/* ======================== TABLET HEADER STYLES ========================= */

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .menu-btn-close {
    display: none;
  }

  .header-menu {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 67px;
  }

  .header-burger-btn {
    display: none;
  }

  .header-menu-container {
    display: flex;
  }

  .header-button-link {
    flex-wrap: nowrap;
    position: static;
    width: 163px;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px;
    border-radius: 60px;
    color: rgb(250, 250, 250);
    font-family: Inter Tight;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-align: left;
    background: rgb(237, 59, 68);
    letter-spacing: -0.02em;
    transition: color 0.3s ease;
    margin-left: 151px;
  }

  .header-button-link:hover {
    background: rgb(198, 42, 45);
  }
}

/* ======================== DESKTOP HEADER STYLES ========================= */

@media screen and (min-width: 1440px) {
  .menu-btn-close {
    display: none;
  }

  .header-burger-btn {
    display: none;
  }
  .menu-btn-desctab {
    display: none;
  }

  
  .header-menu {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 67px;
  }
  .header-menu-container {
    display: flex;
  }

  .header-container {
    width: 1372px;
  }

  .header-button-link {
    flex-wrap: nowrap;
    position: static;
    width: 163px;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 24px 18px 24px;
    border-radius: 60px;
    color: rgb(250, 250, 250);
    font-family: Inter Tight;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-align: left;
    background: rgb(237, 59, 68);
    letter-spacing: -0.02em;
    transition: color 0.3s ease;
    transition: transform 0.3s ease;
    margin-left: 487px;
  }

  .header-button-link:hover {
    background: rgb(198, 42, 45);
  }

  .menu-btn-desctab {
    display: block;
    padding: 10px;
    background-color: transparent;
    border: none;
    width: 60px;
    color: #fafafa;
    text-decoration: underline;
    margin-bottom: 18px;
    transition: color 0.3s ease;
    transition: transform 0.3s ease;
  }
}

/* ======================== HEADER MENU STYLES ========================= */

.header-menu:hover .header-menu-list {
  opacity: 1;
  transform: scaleY(1) translateY(0);
}

.header-menu-list {
  margin: auto;
  text-align: center;
  width: 67px;
  height: 91px;
  gap: 5px;
  transition: 0.5s;
  transform: scaleY(0) translateY(20%);
  transform-origin: top center;
  opacity: 0;
}

.header-menu-list_active {
  opacity: 1;
  transform: scaleY(1) translateY(0);
}

.header-menu-item-link {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fafafa;
  transition: color 0.3s ease;
  transition: transform 0.3s ease;
}

.menu-btn-desctab:hover {
  color: #ed3b44;
}

.menu-btn-desctab:active {
  transform: scale(1.07);
}

.header-menu-item-link:hover,
.header-menu-item-link:focus {
  color: #ed3b44;
  transform: scale(1.07);
}

.header-menu-item:active {
  transform: scale(1.14);
}
