.header {
  position: absolute;
  top: 32px;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: transparent;
}

.header-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.menu-btn-desctab {
  display: block;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  background-color: transparent;
  border: none;
  width: 60px;
  height: 39px;
  letter-spacing: -0.02em;
  color: #fafafa;
  margin-left: 151px;
  margin-right: 151px;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-skip-ink: none;
  margin-bottom: 18px;
}

.header-text-logo {
  color: rgb(250, 250, 250);
  font-family: 'Inter Tight', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.02em;
}

.header-logo-link {
  display: flex;
  gap: 8px;
}

.header-menu {
  display: none;
}
.header-burger-btn {
  fill: rgb(250, 250, 250);
  background-color: transparent;
  border: none;
  position: static;
  width: 28px;
  height: 28px;
  flex: none;
  flex-grow: 0;
}



/* ========================== MOBILE HEADER STYLES ========================= */

@media screen and (min-width: 320px) and (max-width: 767px) {
  .menu-btn-desctab {
    display: none;
  }
 

  .menu-btn-close {
    fill: rgb(250, 250, 250);
    background-color: transparent;
    border: none;
    width: 28px;
    height: 28px;
    flex: none;
    flex-grow: 0;
    position: absolute;
    top: 32px;
    right: 18px;
  }
  
  .header-menu-item-link:hover,
  .header-menu-item-link:focus {
    color: #ED3B44;
    transform: scale(1.07);
}


  .header-menu-item:active {
    transform: scale(1.14);
}


  .header-menu-list-mobile {
    width: 67px;
    height: 112px;
    margin-top: 302px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .header-menu-item-link {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #fafafa;
    text-decoration: underline;
    text-underline-offset: 4px;
  }

  .header-button-link {
    position: static;
    width: 164px;
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 31px 14px 31px;
    border-radius: 60px;
    color: rgb(250, 250, 250);
    font-family: Inter Tight;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    text-align: left;
    background: rgb(237, 59, 68);
    letter-spacing: -0.02em;
    margin-top: 289px;
    margin-bottom: 64px;
    margin-right: 109px;
    margin-left: 102px;
  }

  .btn-link-none{
    display: none;
  }

  .header-button-link:hover {
    background: rgb(198, 42, 45);
  }

    .header-menu-container.is-open {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 999999999;
      width: 375px;
      height: 812px;
      background-color: #1C1D20;
      background-size: cover;
      background-image: url("../img/mobile/hero/modal-back.webp");
      background-repeat: no-repeat;
      background-position: center;
      margin: 0;
      padding: 0;
      transform: translateX(0%);
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
    
    @media screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx),
      screen and (min-device-pixel-ration: 2) {
      .header-menu-container.is-open {
        background-image: url("../img/mobile/hero/modal-back@2x.webp");
      }
    }
    
    .header-menu {
      display: flex;
      flex-direction: column;
    }
    

  }

/* ======================== MOBILE MENU STYLES ========================= */





/* ======================== TABLET HEADER STYLES ========================= */

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .menu-btn-close {
    display: none;
  }

  .header-menu {
    display: flex;
  }

  .header-burger-btn {
    display: none;
  }

  .header-menu-container {
    display: flex;
  }

  .header-button-link {
    position: static;
    width: 163px;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 24px 18px 24px;
    border-radius: 60px;
    color: rgb(250, 250, 250);
    font-family: Inter Tight;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-align: left;
    background: rgb(237, 59, 68);
    letter-spacing: -0.02em;
  }

  .header-button-link:hover {
    background: rgb(198, 42, 45);
  }
}

/* ======================== desktop HEADER STYLES ========================= */

@media screen and (min-width: 1440px) {

  .menu-btn-close {
    display: none;
  }

  .header-burger-btn {
    display: none;
  }
  .menu-btn-desctab {
    display: none;
  }
  .header-menu {
    display: flex;
  }
  .header-menu-container {
    display: flex;
  }

  .header-container {
    width: 1372px;
  }

  .header-button-link {
    position: static;
    width: 163px;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 24px 18px 24px;
    border-radius: 60px;
    color: rgb(250, 250, 250);
    font-family: Inter Tight;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-align: left;
    background: rgb(237, 59, 68);
    letter-spacing: -0.02em;
  }

  .header-button-link:hover {
    background: rgb(198, 42, 45);
  }

  .menu-btn-desctab {
    display: block;
    padding: 10px;
    background-color: transparent;
    border: none;
    width: 60px;
    height: 39px;
    color: #fafafa;
    margin-left: 487px;
    margin-right: 487px;
    text-decoration: underline;
    margin-bottom: 18px;
  }
}

/* ======================== HEADER MENU STYLES ========================= */

  .header-menu {
    display: flex; 
    flex-direction: column;
}

  .header-menu-list {
    margin: auto;
    text-align: center;
    width: 67px;
    height: 91px;
    gap: 5px;
    transition: 0.5s;
    transform: scaleY(0) translateY(20%);
    transform-origin: top center;
    opacity: 0;
}

  .header-menu-list_active {
    opacity: 1;
    transform: scaleY(1) translateY(0);
}

  .header-menu-item-link {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #fafafa;
}

  .menu-btn-desctab:hover {
    color: #ED3B44;
}

  .menu-btn-desctab:active {
    transform: scale(1.07);
}

  .header-menu-item-link:hover,
  .header-menu-item-link:focus {
    color: #ED3B44;
    transform: scale(1.07);
}


  .header-menu-item:active {
    transform: scale(1.14);
}