
.hero-container {
    text-align: center;
    background-image: url("../img/mobile/hero/hero.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 821px;
    width: 100%;
} 

.hero-title {
    font-weight: 500;
    font-size: 50px;
    line-height: 50px; 
    line-height: 1;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: var(--main-text);
    text-align: left;
    padding-top: 281px;
}

.hero-list-social {
   margin-left: auto;
   margin-right: auto;

}

.soc-networks-list {
    display: flex;
    align-items: center;
    padding-top: 212px;
    flex-direction: row;
    gap: 4px;
}

.hero-list-item {
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 60px;
    padding: 10px 11px;
    width: 37px;
    height: 37px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.02em;    
}

.hero-list-item-email {
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 60px;
    padding: 10px 12px;
    width: 178px;
    height: 37px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.02em;
}


//////////////////////////////////* TABLET *//////////////////////////////////


@media screen and (min-width: 768px) {

.hero-container {
    background-image: url("../img/tablet/hero/tab_hero.webp")
}

.hero-title-cont {
    width: 632px;
}

.hero-title {
    display: flex;
    flex-wrap: wrap;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 90px; 
    line-height: 1;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    justify-content: flex-start;

}

.hero-list-social {
    padding-left: 265px;
}
 
}