#hero {
  padding-bottom: 0;
}
.hero-section {
  text-align: center;
  background-image: url(../img/mobile/hero/hero.webp);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
}
@media (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-section {
    background-image: url(../img/mobile/hero/hero@2x.webp);
  }
}
@media screen and (max-width: 375px) {
  .hero-section {
    background-size: cover;
  }
}
#hero .hero-container {
  padding-top: 281px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  gap: 212px;
}
.hero-title {
  font-weight: 500;
  font-size: 50px;
  line-height: 50px;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fafafa;
  text-align: left;
}

.soc-networks-list {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.hero-list-item {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 10px 11px;
  width: 37px;
  height: 37px;
  align-items: center;
  display: flex;
  justify-content: center;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  transition: border-color 250ms linear, box-shadow 250ms linear;
}

.hero-list-item-email {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 10px 12px;
  width: 178px;
  height: 37px;
  align-items: center;
  display: flex;
  justify-content: center;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
}

.hero-list-item:hover,
.hero-list-item:focus {
  border-color: #fafafa;
  box-shadow: 0 0 15px #ed3b44;
}

/*================== TABLET ================*/
@media screen and (min-width: 768px) and (max-width: 1439px) {
  .hero-section {
    background-image: url(../img/tablet/hero/tab_hero.webp);
  }
  @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero-section {
      background-image: url(../img/tablet/hero/tab_hero@2x.webp);
    }
  }

  #hero .hero-container {
    gap: 187px;
    width: 704px;
  }
  .hero-title {
    width: 632px;
    height: 450px;
  }
}
@media screen and (min-width: 768px) {
  #hero .hero-container {
    padding-top: 300px;
  }
  .hero-title {
    display: flex;
    flex-wrap: wrap;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 90px;
    line-height: 1;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    justify-content: flex-start;
    text-align: start;
  }
  .soc-networks-list {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
  }

  .soc-networks-list {
    justify-content: end;
  }
  .hero-list-item {
    width: 55px;
    height: 55px;
    font-size: 16px;
  }
  .hero-list-item-email {
    width: 223px;
    height: 55px;
    font-size: 16px;
  }
}

/*================= DESKTOP =================*/

@media screen and (min-width: 1440px) {
  .hero-section {
    background-image: url(../img/desktop/hero/desk_hero.webp);
  }
  @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero-section {
      background-image: url(../img/desktop/hero/desk_hero@2x.webp);
    }
  }

  #hero .hero-container {
    width: 1230px;
  }
}
