.projects {
    max-width: 343px;
    max-height: 952px;
    background-color: aquamarine;
}

.container {
}
.projects-title {
}
.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}
.projects-description {
}
.projects-description-skills {
}
.projects-description-skills-item {
}
.projects-description-text {
}
.projects-description-button {
}
.projects-wrapper-img {
}
.wrapper-btn-arrows {
}
.swiper-button-prev {
}
.swiper-btn-prev {
}
.btn-arrow-prev {
}
.swiper-button-next {
}
.swiper-btn-next {
}
.btn-arrow-next {
}