.projects-title {
  font-family: 'Inter Tight', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
  margin-bottom: 32px;
}
.projects-description {
  background-color: white;
  padding: 32px;
  border-radius: 24px 24px 0 0;
}
.projects-description-skills {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 6px;
  margin-bottom: 96px;
}
.projects-description-skills-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(28, 29, 32, 0.2);
  border-radius: 60px;
  padding: 13px 18px;
  height: 45px;
  letter-spacing: -0.02em;
  color: #1c1d20;
}
.projects-description-text {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  color: #1c1d20;
  margin-bottom: 32px;
}
.projects-description-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 60px;
  padding: 13px 32px;
  width: 141px;
  height: 45px;
  background-color: #ed3b44;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  letter-spacing: -0.02em;
  font-size: 16px;
  color: #fafafa;
  transition: background-color 250ms linear, box-shadow 250ms linear,
    font-weight 350ms linear;
}
.projects-description-button:hover {
  background-color: #e74a3b;
  box-shadow: 0 0 15px #ed3b44;
  font-weight: 700;
}

.projects-wrapper-img {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 24px 24px;
  height: 395px;
  background-color: #242527;
}
.projects-img {
  display: block;
  width: 311px;
  height: 195px;
}
.wrapper-btn-arrows {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.wrapper-btn-arrows .swiper-btn-prev,
.wrapper-btn-arrows .swiper-btn-next {
  position: static;
  margin-top: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  width: 52px;
  height: 52px;
  border: 1px solid #fafafa;
}

.swiper-btn-prev .btn-arrow-prev,
.swiper-btn-next .btn-arrow-next {
  width: 25px;
  height: 24px;
  stroke: #fafafa;
}
.projects-swiper-button-prev.disabled,
.projects-swiper-button-next.disabled {
  pointer-events: none;
  border-color: #fafafa33;
}
.projects-swiper-button-prev.disabled .btn-arrow-prev,
.projects-swiper-button-next.disabled .btn-arrow-next {
  stroke: #fafafa33;
}

/* .swiper-wrapper .swiper-slide {
  display: flex;
  flex-direction: column;
} */
@media screen and (min-width: 768px) {
  .swiper {
    margin-bottom: 64px;
  }
  .projects-description {
    padding: 64px;
  }
  .projects-description-skills {
    flex-wrap: nowrap;
    margin-bottom: 164px;
  }
  .projects-description-skills-item {
    /* padding: 18px; */
    height: 55px;
  }
  .projects-description-text {
    width: 494px;
    font-size: 44px;
    line-height: 1;
  }
  .projects-description-button {
    width: 177px;
    height: 55px;
  }
  .projects-wrapper-img {
    height: 625px;
  }
  .projects-img {
    width: 614px;
    height: 385px;
  }
  .wrapper-btn-arrows {
    gap: 20px;
    margin-top: 64px;
  }
  .wrapper-btn-arrows .swiper-btn-prev,
  .wrapper-btn-arrows .swiper-btn-next {
    width: 68px;
    height: 68px;
    cursor: pointer;
  }
  .swiper-btn-prev .btn-arrow-prev,
  .swiper-btn-next .btn-arrow-next {
    width: 32px;
    height: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .swiper {
    margin-bottom: 46px;
  }
  .swiper-wrapper .swiper-slide {
    display: flex;
    flex-direction: row;
  }
  .projects-description {
    border-radius: 24px 0 0 24px;
    width: 688px;
  }
  .projects-description-skills {
    margin-bottom: 223px;
  }
  .projects-wrapper-img {
    width: 688px;
    height: 625px;
    border-radius: 0 24px 24px 0;
  }
}
