@import 'swiper/css';

.reviews-section-title {
  font-size: 16px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-bottom: 32px;
  color: rgba(250, 250, 250, 0.4);
}

.reviews-list {
  margin-bottom: 32px;
}
.swiper {
  margin-bottom: 0;
}
.reviews-list-item {
  border-radius: 20px;
  padding: 32px 24px;
  border: 1px solid rgba(250, 250, 250, 0.2);
}

.review-photo {
  margin-bottom: 32px;
  border-radius: 10px;
}

.review-author {
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: var(--main-white);
}

.review-text-container {
  overflow-y: scroll;
  height: 120px;
}

.review-text {
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
  text-overflow: ellipsis;
}

.reviews-swipe-btns-wrapper {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.prev-review-btn,
.next-review-btn {
  border-radius: 60px;
  padding: 14px;
  width: 52px;
  height: 52px;
  background: transparent;
  border: 1px solid #fafafa;
  transition: border 250ms linear;
}

.prev-icon-btn,
.next-icon-btn {
  stroke-width: 2px;
  fill: transparent;
  stroke: #fafafa;
  transition: stroke 250ms linear, fill 250ms linear;
}

.prev-review-btn:disabled,
.next-review-btn:disabled {
  cursor: default;
  border-color: #fafafa33;
}
.prev-review-btn:disabled .prev-icon-btn,
.next-review-btn:disabled .next-icon-btn {
  stroke: #fafafa33;
}
.swiper-wrapper .reviews-list-item {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .reviews-swipe-btns-wrapper {
    gap: 20px;
  }

  .prev-review-btn,
  .next-review-btn {
    padding: 18px;
    width: 68px;
    height: 68px;
  }

  .prev-icon-btn,
  .next-icon-btn {
    width: 32px;
    height: 32px;
  }
}

@media screen and (min-width: 1440px) {
  /* server eror */

  .popup-server-error {
    position: fixed;
    top: 20px;
    right: clamp(20px, 5%, 10%);
    background-color: var(--main-red);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    opacity: 0;
    color: #fff;
    background-color: #ed3b44;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: opacity 250ms linear;
  }

  .popup-server-error.activate-popup-animation {
    opacity: 1;
  }

  ::-webkit-scrollbar {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #88888811;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
  }

  ::-webkit-scrollbar {
    width: 0px;
  }
}
