@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./about-me.css');
@import url('./benefits.css');
@import url('./projects.css');
@import url('./faq.css');
@import url('./covers.css');
@import url('./reviews.css');
@import url('./footer.css');

@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/InterTight-Medium.ttf') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/InterTight-SemiBold.ttf') format('woff2');
  font-display: swap;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
html {
  scroll-behavior: smooth;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body {
  font-family: 'Inter Tight', sans-serif;
  background-color: #1c1d20;
  color: #fafafa;
}
input,
textarea,
button {
  font-family: inherit;
}
.container {
  padding: 0 16px;
  min-width: 320px;
  max-width: 375px;

  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .container {
    min-width: 320px;
    max-width: 375px;
  }
  section {
    padding-bottom: 64px;
  }
  .footer {
    padding-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  section {
    padding-bottom: 96px;
  }
  .footer {
    padding-bottom: 169px;
  }
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
  section {
    padding-bottom: 164px;
  }
  .footer {
    padding-bottom: 169px;
  }
}
